<div class = "content-wrapper">

    {% assign need_title = true %}

    {% for item in site.data.pages %}
        {% if page.url == item.url %}
            {% assign need_title = false %}
        {% endif %}
    {% endfor %}

    {% if need_title %}
        <h2 class = "page-title">{{ page.title }}</h2>
        {% if page.path contains '_posts' %}
            <h4 class = "post-date">{{ page.date | date: '%-d %B %Y' }}</h4>
        {% endif %}
    {% endif %}

    <div class = "content">
      {{ content }}
    </div>

    {% if page.path contains '_posts' %}
        <div class = "blog-bottom">
            {% assign posts = site.posts | where_exp: "post", "post.url != page.url" | sample: 2 %}
            {% if posts.size > 0 %}
                <h2>Releated Posts</h2>
                <ul>
                    {% for post in posts %}
                    <li><a href = "{{ post.url }}">{{ post.title }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}

            <h2>Want to leave a comment?</h2>
            <p>Feel free to <a href = "/contact">contact</a> me 💌</p>
        </div>
    {% endif %}

  </div>