// Variables for different theme modes

$link-color: rgb(48, 208, 88); // 30d058
$box-color: rgba(142, 142, 147, 20%);
$box-hover-color: rgba(48, 208, 88, 90%);

// Dark Mode (default)

// Text
$dark-text-color: rgb(243, 243, 243);

// Background
$dark-background-color: rgb(28, 28, 30);

// Light Mode

// Text
$light-text-color: black;

// Background
$light-background-color: rgb(248, 248, 248);