header {
    padding: 0.3rem;
    border-bottom: 1px solid #fff;

    @media (prefers-color-scheme: light)
    {
        border-bottom: 1px solid #000;
    }

    .logo {

        padding: 0.2rem;
    
        a {
            color: $logo-text-color;
            font-size: $logo-font-size;
            font-weight: $logo-font-weight;
            text-decoration: none;
    
            @media (prefers-color-scheme: light) {
                color: $light-logo-text-color;
                font-weight: $light-logo-font-weight;
            }
    
            &:hover {
                color: $link-color;
                text-decoration: none;
                
                @media (prefers-color-scheme: light) 
                {
                    color: $light-link-color;
                }
            }
        }
    }
}