main {
    padding: 1rem;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0;

    .content {
        padding: 0.5rem;
        font-weight: 500;
    }

    h1 {
        color: inherit;
        text-align: left;
        font-size: $h1-size;
    }

    h2 {
        color: inherit;
        text-align: left;
        font-size: $h2-size;
    }

    p, li, ul, a {
        font-size: $text-size;
    }

    a {
        color: $link-color;
        text-decoration: none;

        &:hover {
            color: $link-color;
            text-decoration: underline;
        }

        &:visited {
            color: $link-color;

            @media (prefers-color-scheme: light) {
                color: $light-link-color;
            }
        }

        &:active {
            color: $link-color;

            @media (prefers-color-scheme: light) {
                color: $light-link-color;
            }
        }
    }

    form {
        padding: 1rem;

        fieldset {
            margin: 0;
            padding: 0rem;
            border-width: 0;
            text-align: center;
            border-color: inherit;
        }

        label {
            text-align: start;
            font-weight: 600;
            display: block;
            margin-bottom: 0.5rem;
            color: inherit;
        }

        input {
            display: inline-block;
            width: 90%;
            padding: 0.5rem;
            border-radius: 4px;
            margin-bottom: 0.5rem;
        }

        textarea {
            resize: vertical;
            height: auto;
            padding: 0.5rem;
            margin-bottom: 0.5rem;
            border-radius: 4px;
            width: 90%;
            overflow: auto;
        }

        button {
            width: 90%;
            padding: 0.5rem;
            border-radius: 1rem;
            background-color: inherit;
            color: inherit;
            border-color: inherit;
            border-width: 1px;
            font-size: 1rem;
        }
    }
}