// Dark Mode (Default)

// Logo
$logo-text-color: rgb(248, 248, 248);
$logo-font-weight: 650;
$logo-font-size: 2rem;

// Text
$text-color: rgb(243, 243, 243);
$link-color: rgb(48, 209, 88);

// Icons
$icon-color: rgb(243, 243, 243);

// Background
$background-color: rgb(28, 28, 30);

/***************************************/

// Light Mode

// Logo
$light-logo-text-color: black;
$light-logo-font-weight: 680;

// Text
$light-text-color: black;
$light-link-color: rgb(52, 199, 89);

// Icons
$light-icon-color: black;

// Background
$light-background-color: rgb(248, 248, 248);

/***************************************/

// Content
$h1-size: 1.9rem;
$h2-size: 1.6rem;
$text-size: 1.2rem;