---
---

@import 'variables';
@import 'animations';

.copyright-wrapper {
    margin-top: -0.2rem;
    padding: 0.8rem;
    font-size: 0.8rem;
    text-align: center;

    a {
        color: inherit;
        text-decoration: none;

        &:hover {
            color: $link-color;
        }
    }
}