---
---

@import 'variables';
@import 'animations';

// Body
.body-wrapper {
    max-width: 1080px;
    margin: 0 auto;
}

.content-wrapper {
    margin-top: -1.5rem;
    padding: 0rem 1rem;
    
    code {
        font-size: 1.2rem;
    }

    .page-title {
        font-size: 0.9rem;
        border-bottom: 1px solid $dark-text-color;

        @media (prefers-color-scheme: light) {
            border-bottom: 1px solid $light-text-color;
        }
    }

    .content {
        margin-top: -1rem;
        padding: 0.5rem;
    }
}