---
---

@import 'variables';
@import 'animations';

footer {

    padding: 1rem;

    .line-wrapper {
        border-top: 2px solid $dark-text-color;

        @media (prefers-color-scheme: light) {
            border-top: 2px solid $light-text-color;
        }
    }
}