---
---

@import 'variables';
@import 'animations';

.logo-wrapper {
    
    text-align: center;
    border-bottom: 2px solid $dark-text-color;

    @media (prefers-color-scheme: light) {
        border-bottom: 2px solid $light-text-color;
    }

    h1 {
        font-size: 2.5rem;
        font-weight: 600;
    }

    a {
        animation: text-effect 4s infinite;
        text-decoration: none;

        &:hover {
            animation: none;
            color: $link-color;
        }
    }
}