--- 
---

@import 'variables';
@import 'animations';

.pages-wrapper {
    margin-top: -0.2rem;
    padding: 1rem;

    ul {
        margin: 0;
        padding: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
    }

    li {
        margin: 0 0.5rem;
    }

    a {
        color: inherit;
        font-size: 1.2rem;
        font-weight: 600;
        text-decoration: none;
        padding: 0.5rem;

        &:hover {
            color: $link-color;
        }
    }

    .active {
        color: $link-color;
    }
}