<!DOCTYPE html>

<html>
  
  {% include head.html %}

  <link rel = "stylesheet" property = "stylesheet" href = "/assets/css/default.css">
  <link rel = "stylesheet" property = "stylesheet" href = "/assets/css/html.css">

  {% if page.math %}
    <script type = "text/javascript" id = "MathJax-script" async src = "https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  {% endif %}

  <body>
    <div class = "body-wrapper">
      {% include header.html %}
      
      {% include content.html %}

      {% include footer.html %}
    </div>
  </body>

</html>